{% extends "base.html" %}

{% block content %}

<header>
    <nav>
        <ul class="left-nav">
            <li>
                <a href="/"><h4>Kairopy</h4></a>
            </li>
        </ul>
    </nav>
</header>

<section>
    <form role="form" action="" method="post">
        <h3>Cambiar Contraseña</h3>
        <input type="hidden" value={{ user_id }} name="user_id" id="user_id" placeholder="Nombre" size='50'>
        <input class="text" type="password" name="password" id="password" placeholder="contraseña" size='50' required="required">
        <input class="text" type="password" name="repeatpassword" id="repeatpassword" placeholder="repetir contraseña" size='50' required="required">
        <input class="submit" type="submit" value="Enviar">
    </form>    
</section>


{% endblock %}
