{% extends "base.html" %}
{% block content %}

<header id="sideNav">
    <nav>
      <ul class="left-nav">
        <li>
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <i class="ion-close-round">
            </i>
          </a>
        </li>
        <li>
          <a href="/logout">
            <i class="ion-power">
            </i>
          </a>
        </li>
        <li>
          <a href="/">
            <i class="ion-home">
            </i>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <i class="ion-navicon"  onclick="openNav();"></i>
  <script type="text/javascript">
    function openNav() {
      document.getElementById("sideNav").style.width = "250px";
    }
    function closeNav() {
      document.getElementById("sideNav").style.width = "0px";
    }
  </script>
  <section class="mobile-user">
    <article class="mobile-user-main-menu">
      <h3>Hacer Pedido</h3>
      <ul>
        <li onclick="changeToStats();">
          mis turnos
        </li>
        <li onclick="changeToFavorite();">
          favoritos
        </li>
        <li onclick="changeToSearchDealer();">
          nuevo
        </li>
      </ul>
      <script type="text/javascript">
        function changeToFavorite(){
          $.ajax({
            url: '/customer_get_favorites',
            type: 'GET',
            success: function(response){
              var obj = response.getFavorites;
              new_html = '';
              for(key in obj) {
                  new_html += '<ul>';
                  if(obj.hasOwnProperty(key)) {
                      var value = obj[key];
                      new_html += '<li onclick="' ;
                      new_html += 'changeToFavoriteNewSalesOrder(';
                      new_html += value.commerce_id + ', this.innerHTML' + ');"'
                      new_html += '>';
                      new_html += value.commerce_name + '</li>';
                  }
                  new_html += '</ul>';
              }
              new_html += '<a href="/">Volver al Incio</a>'
              $('.mobile-user-favorites').html(new_html);
              $('.mobile-user-main-menu').hide();
              $('.mobile-user-favorites').show();
            },
            error: function(response){

            }
          });
        }
        function changeToSearchDealer(){
          $('.mobile-user-main-menu').hide();
          $('.mobile-search-dealer').show(); 
        }
        function changeToStats(){
          $.ajax({
            url: '/customer_all_turn',
            type: 'GET',
            success: function(response){
              var obj = response.customer_turn;
              for(key in obj) {
                  var create_div = ''
                  if(obj.hasOwnProperty(key)) {
                      var value = obj[key];
                      for (key2 in value) {
                        var value2 = value[key2];
                        create_div += '<li><div>';
                        for(key3 in value2){
                          if (key3 == 0) {
                            create_div += "<p>comercio: " + value2[key3] + "</p>";
                          }
                          else if (key3 == 1) {
                            continue;
                          }
                          else if (key3 == 2) {
                            create_div += "<p>su turno: " + value2[key3] + "</p>";
                          }
                          else{
                            create_div += "<p>turno actual: " + value2[key3] + "</p>";
                          }
                        }
                        create_div += '</div></li>';
                      }
                  }
              }
              $('.mobile-user-stats-list').html(create_div);
              $('.mobile-user-main-menu').hide();
              $('.mobile-user-stats').show(); 
            },
            error: function(response){

            },
          });
        }
      </script>
    </article>
    <article class="mobile-user-stats">
      <ul class="mobile-user-stats-list">
      </ul>
      <a href="/">Volver al Incio</a>
    </article>
    <article class="mobile-search-dealer">
      <form action="" method="post" onsubmit="changeToNewSales(); return false">
        <input type="text" id="dealer" name="dealer" placeholder="id de comercio">
        <input type="submit" name="buscar" value="buscar">
      </form>
      <div id="error">
      </div>
      <script type="text/javascript">
        function changeToNewSales(){
          $.ajax({
            url: '/customer_search_dealer',
            type: 'POST',
            data: {id: document.getElementById("dealer").value},
            success: function(response){
              var obj = response.data;
              for(key in obj) {
                  if(obj.hasOwnProperty(key)) {
                      var value = obj[key];
                      document.getElementById("dealer_id").value = value.user_id;
                      document.getElementById("dealername").value = value.username;
                  }
              }
              $('.mobile-search-dealer').hide();
              $('.mobile-user-new-sale').show(); 
            },
            error:  function(response){
              var error_text = '';
              var obj = JSON.parse(response.responseText);
              $.each(obj, function(i, item) {error_text += obj.error;});
              $('#error').html('<p>' + error_text + '</p>')
            }
          });
        }
      </script>
    </article>
    <article class="mobile-user-new-sale">
      <form id="new_sales" action="" method="post" onsubmit="endMessage(); return false">
          <input type="hidden" name="dealer_id" id="dealer_id">
          <input type="text" id="dealername" name="dealername" placeholder="comericante">
          <input type="text" name="description" placeholder="pedido">
          <input type="submit" name="confirmar" value="confirmar">
      </form>
      <script type="text/javascript">
        function endMessage(){
          $.ajax({
            url: '/customer_new_sales_to_dealer',
            type: 'POST',
            data: $('#new_sales').serialize(),
            success: function(response){
              $('.mobile-user-new-sale').hide();
              $('.mobile-user-end-sale').show(); 
            },
            error: function(response){
              console.log('error');
            }

          });
        }
      </script>
    </article>
    <article class="mobile-user-favorites">
      <a href="/">Volver al Incio</a>
      <script type="text/javascript">
        function changeToFavoriteNewSalesOrder(id, name){
          document.getElementById("dealer_id").value = id;
          document.getElementById("dealername").value = name;
          $('.mobile-user-favorites').hide();
          $('.mobile-user-new-sale').show(); 
        }
      </script>
    </article>
    <article class="mobile-user-end-sale">
      <h3>Pedido enviando correcto</h3>
      <a href="/">Volver al Incio</a>
    </article>
  </section>

{% endblock %}
