{% extends "base.html" %}
{% block content %}

<header>
    <nav>
      <ul class="left-nav">
        <li>
          <a href="/logout">
            <i class="ion-power">
            </i>
          </a>
        </li>
        <li>
          <a href="/">
            <i class="ion-home">
            </i>
          </a>
        </li>
      </ul>
      <ul class="right-nav">
        <li>
          <a href="/tutorial">
            <i class="ion-help">
            </i>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="mobile-user">
    <article class="mobile-user-main-menu">
      <h3>Hacer Pedido</h3>
      <ul>
        <li onclick="changeToStats();">
          mis turnos
        </li>
        <li onclick="changeToFavorite();">
          favoritos
        </li>
        <li onclick="changeToSearchDealer();">
          nuevo
        </li>
      </ul>
      <script type="text/javascript">
        function changeToFavorite(){
          $('.mobile-user-main-menu').hide();
          $('.mobile-user-favorites').show();
        }
        function changeToSearchDealer(){
          $('.mobile-user-main-menu').hide();
          $('.mobile-search-dealer').show(); 
        }
        function changeToStats(){
          $('.mobile-user-main-menu').hide();
          $('.mobile-user-stats').show(); 
        }
      </script>
    </article>
    <article class="mobile-user-stats">
      <ul>
        <li>
          <div>
             <h2>cliente 1</h2>
             <p>Turno Actual 30</p>
             <p>tu turno 28</p>  
          </div>
        </li>
        <li>
          <div>
             <h2>cliente 2</h2>
             <p>Turno Actual 3</p>
             <p>tu turno 1</p>  
          </div>
        </li>
      </ul>
      <a href="/">Volver al Incio</a>
    </article>
    <article class="mobile-search-dealer">
      <form action="" method="post" onsubmit="changeToNewSales(); return false">
        <input type="text" id="dealer" name="dealer" placeholder="id de comercio">
        <input type="submit" name="buscar" value="buscar">
      </form>
      <div id="error">
      </div>
      <script type="text/javascript">
        function changeToNewSales(){
          $.ajax({
            url: '/customer_search_dealer',
            type: 'POST',
            data: {id: document.getElementById("dealer").value},
            success: function(response){
              console.log(response.data);
              var obj = response.data;
              for(key in obj) {
                  if(obj.hasOwnProperty(key)) {
                      var value = obj[key];
                      document.getElementById("dealer_id").value = value.user_id;
                      document.getElementById("dealername").value = value.username;
                      /*console.log(key)
                      console.log(value.user_id);*/
                      //do something with value;
                  }
              }
              /*
              $.each(obj, function(i, item) {console.log(obj.user_id);});
              document.getElementById("fieldname").value = ish;
              */
              $('.mobile-search-dealer').hide();
              $('.mobile-user-new-sale').show(); 
            },
            error:  function(response){
              var error_text = '';
              var obj = JSON.parse(response.responseText);
              $.each(obj, function(i, item) {error_text += obj.error;});
              $('#error').html('<p>' + error_text + '</p>')
            }
          });
        }
      </script>
    </article>
    <article class="mobile-user-new-sale">
      <form id="new_sales" action="" method="post" onsubmit="endMessage(); return false">
          <input type="hidden" name="dealer_id" id="dealer_id">
          <input type="text" id="dealername" name="dealername" placeholder="comericante">
          <input type="text" name="description" placeholder="pedido">
          <input type="submit" name="confirmar" value="confirmar">
      </form>
      <script type="text/javascript">
        function endMessage(){
          $.ajax({
            url: '/customer_new_sales_to_dealer',
            type: 'POST',
            data: $('#new_sales').serialize(),
            success: function(response){
              $('.mobile-user-new-sale').hide();
              $('.mobile-user-end-sale').show(); 
            },
            error: function(response){
              console.log('error');
            }

          });
        }
      </script>
    </article>
    <article class="mobile-user-favorites">
      <h3>Favoritos</h3>
      <ul>
        <li onclick="changeToFavoriteNewSalesOrder();">
          usuario1
        </li>
        <li onclick="changeToFavoriteNewSalesOrder();">
          usuario2
        </li>
        <li onclick="changeToFavoriteNewSalesOrder();">
          usuario3
        </li>
      </ul>
      <script type="text/javascript">
        function changeToFavoriteNewSalesOrder(){
          $('.mobile-user-favorites').hide();
          $('.mobile-user-new-sale').show(); 
        }
      </script>
    </article>
    <article class="mobile-user-end-sale">
      <h3>Pedido enviando correcto</h3>
      <a href="/">Volver al Incio</a>
    </article>
  </section>

{% endblock %}
