{% extends "base.html" %}

{% block content %}

<header id="sideNav">
    <nav>
      <ul class="left-nav">
        <li>
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            <i class="ion-close-round">
            </i>
          </a>
        </li>
        <li>
          <a href="/logout">
            <i class="ion-power">
            </i>
          </a>
        </li>
        <li>
          <a href="/">
            <i class="ion-stats-bars">
            </i>
          </a>
        </li>
        <li>
          <a href="/monitor">
            <i class="ion-monitor">
            </i>
          </a>
        </li>
        <li>
          <a href="/request">
            <i class="ion-plus-round">
            </i>
          </a>
        </li>
        <li>
        <a href="/user_offers">
          <i class="ion-gear-b">
          </i>
        </a>
      </li>
      <li>
        <a href="/search">
          <i class="ion-search">
          </i>
        </a>
      </li>
      </ul>
      <ul class="right-nav">
        <li>
          <a href="/tutorial">
            <i class="ion-help">
            </i>
          </a>
        </li>
        <li>
          id: {{ current_user.get_id() }}
        </li>
      </ul>
    </nav>
  </header>
  <i class="ion-navicon"  onclick="openNav();"></i>
<script type="text/javascript">
  function openNav() {
    document.getElementById("sideNav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  function closeNav() {
    document.getElementById("sideNav").style.width = "0px";
    document.getElementById("main").style.marginLeft = "0px";
  }
</script>

{% block dealercontent %}{% endblock %}


{% endblock %}
