{% extends "base.html" %}
{% block content %}

<header>
    <nav>
      <ul class="left-nav">
        <li>
          <a href="/logout">
            <i class="ion-power">
            </i>
          </a>
        </li>
        <li>
          <a href="/">
            <i class="ion-stats-bars">
            </i>
          </a>
        </li>
        <li>
          <a href="/monitor">
            <i class="ion-grid">
            </i>
          </a>
        </li>
        <li>
          <a href="/request">
            <i class="ion-plus-round">
            </i>
          </a>
        </li>
      </ul>
      <ul class="right-nav">
        <li>
          <a href="/tutorial">
            <i class="ion-help">
            </i>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <section>
    <ul>
      {% for row in querydata %}
        <li>
          <article>
            <h3>{{ row }}</h3>
            <p>{{ dictdata.get(row) }}</p>
          </article>
        </li>
      {% endfor %}
    </ul>
  </section>
  <footer>
    
  </footer>

{% endblock %}
