{% extends "base.html" %}

{% block content %}

<nav>
    <header class="login-header">
        <ul class="left-nav">
            <li>
                <a href="/"><h4>Kairopy</h4></a>
            </li>
            <li>
                {% if error %}
                    <p class="text-red">{{ error }}</p>
                {% endif %}
            </li>
        </ul>
        <ul class="right-nav">
            <li>
                <form action="" method="post" role="form">
                    {{ form.csrf_token }}
                    <i class="ion-person"></i>
                    <!-- <input class="text" type="text" name="username"> -->
                    {{ form.username(class="text", required="required") }}
                    <i class="ion-key"></i>
                    <!-- <input class="text" type="password" name="password"> -->
                    {{ form.password(class="text", required="required") }}
                    <a href="/logup">
                        <i class="ion-person-add">
                        </i>
                    </a>
                    <a href="/reset">
                        <i class="ion-help-buoy">
                        </i>
                    </a>
                    <input class="submit" type="submit" name="enter" value="ingresar">

                </form>
            </li>
        </ul>
    </header>
</nav>
<section class="background-green">
    <ul>
        <li>
            <img src="{{ url_for('static', filename='kairopy2.png') }}">
        </li>
        <li>
            <h2>Kairopy.com</h2>
            <p>optimizando tu tiempo</p>
        </li>
    </ul>
</section>
<section class="background-simple">
    <h3>Bienvenidos a Kairopy</h3>
    <hr>
    <p>
        Sistema de Turnos para locales en tiempo real.
    Es muy comun que por falta de tiempo o largas
    esperas en locales. Los clientes, dejen de comprar algo que
    capaz era importante. Nuestra idea es que se aproveche
    ese tiempo muerto, para hacer otras cosas.
    </p>
    <ul>
        <li>
            <article>
                <i class="ion-clock"></i>
                <h5>turnos en tiempo real</h5>
            </article>
        </li>
        <li>
            <article>
                <i class="ion-bag"></i>
                <h5>ofertas en pantalla</h5>
            </article>
        </li>
        <li>
            <article>
                <i class="ion-iphone"></i>
                <h5>diseño movil</h5>
            </article>
        </li>
        <li>
            <article>
                <i class="ion-stats-bars"></i>
                <h5>estadisticas</h5>
            </article>
        </li>
    </ul>
        
        
</section>
<section class="short-section">
    <article class="short-video">
        <iframe width="560" height="515" src="https://www.youtube.com/embed/ErUpX9NYQl8" frameborder="0" allowfullscreen></iframe>
    </article>
    <article class="short-video">
        <iframe width="560" height="515" src="https://www.youtube.com/embed/dKQw4HzOGZk" frameborder="0" allowfullscreen></iframe>
    </article>
</section>
<section class="order">
    <h2>Ejemplo de Implentacion</h2>
    <div class="plus-info">
        <p class="principal-text">Una tablet en algun lugar del local, es el mejor dispostivo para que sus clientes se vayan registrando al entrar.</p>
        <i class="ion-plus-round"></i>
    </div>
    <div class="grid-info">
        <i class="ion-monitor"></i>
        <p class="principal-text">Es recomendable poner la vista monitor en un televisor para que el cliente tenga una mejor visual de su posicion en el listado de turnos y ademas pueda aprovechar a visualizar las ofertas del dia.</p>
    </div>
    <div class="gear-info">
        <i class="ion-gear-b"></i>
        <p class="principal-text short">el mostrador es el mejor lugar para ir actualizando la ofertas del dia en el local</p>
    </div>
</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84988708-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock %}