{% extends "base.html" %}

{% block content %}

<nav>
    <header>
        <ul class="left-nav">
            <li>
                <h4>Kairopy</h4>
            </li>
            <li>
                {% if error %}
                    <p class="text-red">{{ error }}</p>
                {% endif %}
            </li>
        </ul>
        <ul class="right-nav">
            <li>
                <form action="" method="post" role="form">
                    {{ form.csrf_token }}
                    <i class="ion-person"></i>
                    <!-- <input class="text" type="text" name="username"> -->
                    {{ form.username(class="text", required="required") }}
                    <i class="ion-key"></i>
                    <!-- <input class="text" type="password" name="password"> -->
                    {{ form.password(class="text", required="required") }}
                    <a href="/logup">
                        <i class="ion-person-add">
                        </i>
                    </a>
                    <a href="/reset">
                        <i class="ion-help-buoy">
                        </i>
                    </a>
                    <input class="submit" type="submit" name="enter" value="ingresar">

                </form>
            </li>
        </ul>
    </header>
    <section>
        <article>
            <iframe width="560" height="515" src="https://www.youtube.com/embed/TJW95KFEfYU" frameborder="0" allowfullscreen></iframe>
        </article>
    </section>
</nav>

{% endblock %}