{% extends "base.html" %}

{% block content %}

<nav>
    <header class="login-header">
        <ul class="left-nav">
            <li>
                <h4>Kairopy</h4>
            </li>
            <li>
                {% if error %}
                    <p class="text-red">{{ error }}</p>
                {% endif %}
            </li>
        </ul>
        <ul class="right-nav">
            <li>
                <form action="" method="post" role="form">
                    {{ form.csrf_token }}
                    <i class="ion-person"></i>
                    <!-- <input class="text" type="text" name="username"> -->
                    {{ form.username(class="text", required="required") }}
                    <i class="ion-key"></i>
                    <!-- <input class="text" type="password" name="password"> -->
                    {{ form.password(class="text", required="required") }}
                    <a href="/logup">
                        <i class="ion-person-add">
                        </i>
                    </a>
                    <a href="/reset">
                        <i class="ion-help-buoy">
                        </i>
                    </a>
                    <input class="submit" type="submit" name="enter" value="ingresar">

                </form>
            </li>
        </ul>
    </header>
</nav>
<section class="short-section">
    <article>
        <iframe width="560" height="515" src="https://www.youtube.com/embed/TJW95KFEfYU" frameborder="0" allowfullscreen></iframe>
    </article>
</section>
<section class="order">
    <h2>Ejemplo de Implentacion</h2>
    <div class="plus-info">
        <p class="principal-text">Una tablet en algun lugar del local, es el mejor dispostivo para que sus clientes se vayan registrando al entrar.</p>
        <i class="ion-plus-round"></i>
    </div>
    <div class="grid-info">
        <i class="ion-grid"></i>
        <p class="principal-text">Es recomendable poner la vista monitor en un televisor para que el cliente tenga una mejor visual de su posicion en el listado de turnos y ademas pueda aprovechar a visualizar las ofertas del dia.</p>
    </div>
    <div class="gear-info">
        <i class="ion-gear-b"></i>
        <p class="principal-text short">el mostrador es el mejor lugar para ir actualizando la ofertas del dia en el local</p>
    </div>
</section>

{% endblock %}