{% extends "base.html" %}

{% block content %}


<header>
    <nav>
        <ul class="left-nav">
            <li>
                <a href="/"><h4>Kairopy</h4></a>
            </li>
            <li>
                {% if error %}
                    <p class="text-red">{{ error }}</p>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>

<section>
    <form action="" method="post" onsubmit="return validateForm();" id="formlogup">
        <h3>Formulario de Registro</h3>
        {{ form.csrf_token }}
        {{ form.username(size=50, placeholder="usuario", class="text", required="required") }}
        {{ form.password(size=50, placeholder="contraseña", class="text", required="required") }}
        {{ form.repeatpassword(size=50, placeholder="repetir contraseña", class="text", required="required") }}
        {{ form.email(size=50, placeholder="email", class="text", required="required", id="email") }}
        <ul>
          <li>
            <input type="radio" id="f-option" name="role" value="customer" checked="true">
            <label for="f-option">Cliente</label>
            <div class="check"></div>
          </li>
          <li>
            <input type="radio" id="s-option" name="role" value="dealer">
            <label for="s-option">Comerciante</label>
            <div class="check"></div>
          </li>
        </ul>
        <input type="submit" class="submit" value="Enviar">
        {% for error in form.recaptcha.errors %}
            {{ error }}
        {% endfor %}
        {{ form.recaptcha }}
    </form>
</section>

<script type="text/javascript">
    function validateForm() {
    var x = document.forms["formlogup"]["email"].value;
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
        alert("email invalido");
        document.getElementById("email").focus();
        return false;
    }
    }
</script>

{% endblock %}