{% extends "base.html" %}
{% block content %}

<header>
  <nav>
    <ul class="left-nav">
      <li>
        <a href="/logout">
          <i class="ion-power">
          </i>
        </a>
      </li>
      <li>
        <a href="/">
          <i class="ion-stats-bars">
          </i>
        </a>
      </li>
      <li>
        <a href="/monitor">
          <i class="ion-grid">
          </i>
        </a>
      </li>
      <li>
        <a href="/request">
          <i class="ion-plus-round">
          </i>
        </a>
      </li>
      <li>
        <a href="/user_offers">
          <i class="ion-gear-b">
          </i>
        </a>
      </li>
    </ul>
    <ul class="right-nav">
      <li>
        <a href="/tutorial">
          <i class="ion-help">
          </i>
        </a>
      </li>
    </ul>
  </nav>
</header>
<section>
  <form action="" method="post" role="form">
    <h3>Turno Nuevo</h3>
    <input class="text" type="text" name="cust_name" id="cust_name" placeholder="nombre" required="required">
    <input class="text" type="text" name="request_type" id="request_type" placeholder="descripcion" required="required">
    <input class="submit" type="submit" name="create" value="crear">
  </form>
</section>
<footer>
  
</footer>

{% endblock %}