{% extends "base.html" %}

{% block content %}

<header>
    <nav>
	  	<ul class="left-nav">
	       	<li>
	        	<a href="/"><h4>Kairopy</h4></a>
	        </li>
	   	</ul>
    </nav>
</header>

<section>
	<form role="form" action="" method="post">
		<h3>Peticion de Cambio de Contraseña</h3>
	    {{ form.csrf_token }}
	    {{ form.username(placeholder="usuario", class="text", required="required") }}
	    <input class="submit" type="submit" name="enviar" value="Enviar">      
	</form>
</section>


{% endblock %}
