{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1 class='text-center text-primary'>Tutorial Kairopy</h2>
  
  <div class="well"><h2 class='text-center'>Que es Kairopy?</h2></div>
  
  <div class="well well-lg">
    <h4>Kairopy es un sistema de turnos pensado para locales con alta demanda de clientes.</h4><h4>El sistema organiza por turnos a los clientes. Los turnos se cargan a traves de un practico formulario y se muestran en tiempo real sobre una vista monitor. Ademas permite obtener estadisticas a partir de los datos recolectados.</h4>
  </div>

  <div class="well"><h2 class='text-center'>Vistas Kairopy</h2></div>
  
  <div class="well well-lg">
    <h2>Principal</h2>
    <p>La pantalla principal muestra datos estadisticos sobre las cantidades procesadas, pendientes, totales diarias y el historico global de turnos</p>
  </div>
  <div class="well well-lg">
    <h2>Monitor</h2>
    <p>Large Well Large Well Large Well Large Well Large Well Large Well Large Well Large Well Large Well Large WellLarge Well Large WellLarge Well Large WellLarge WellLarge Well Large WellLarge Well</p>
  </div>
  <div class="well well-lg">
    <h2>Formulario</h2>
    <p>Large Well Large Well Large Well Large Well Large Well Large Well Large Well Large Well Large Well Large WellLarge Well Large WellLarge Well Large WellLarge WellLarge Well Large WellLarge Well</p>
  </div>
</div>

{% endblock %}
